<h3><span>題名:</span><%= @post.title %></h3>
<h3><span>改善内容:</span><%= @post.body %></h3>
<p><span>必要経費:</span><%= @post.cost %></p>
<p><span>改善効果:</span><%= @post.benefits %></p>

<% if user_signed_in? %>
  <% if @post.user_id == current_user.id %>
    <%= link_to "戻る", root_path %>
    <%= link_to "編集", edit_post_path %>
    <%= link_to "削除", post_path(@post), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"} %>
  <% end %>
<% end %>

  <p class="body">
    <%= @post.body %>
  </p>

	<div id="comments">
		<h2><%= @post.comments.count %> Comments</h2>
		<%= render @post.comments %>
		<h3> コメント: </h3>
		<%= render "comments/form" %>
	</div>
</div>